# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.rlib`
# This is useful for Rust libraries
# that are built as part of the project.
*.rlib

# Ignore `bin` dir
bin/
# or
*/bin/*
# Ignore `target` dir
target/
# or
*/target/*  

# Ignore 'a' dir
*/a/*